mat-radio-button {
  margin-right: 20px;
}
mat-card-content {
  position: relative;
  margin-top: 50px;
}
.fab {
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 10;
}
.action-btn {
  margin-top: 100px;
  button {
    margin-right: 100px;
  }
}
.man-form {
  margin: 20px 10px 20px 10px;
}
.add-btn {
  margin-top: 40px;
}
.man-ava {
  background: grey;
}
.drink-list {
  h1 {
    color: #180018;
    margin-top: 20px;
    //font-family: "monospace, Lucida Console", "Courier New", serif;
  }
}
