table {
  width: 100%;
}
.tab-div {
  margin: 20px 10px 20px 10px;
}

th.mat-sort-header-sorted {
  color: black;
}
.search {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
mat-radio-button {
  margin-right: 10px;
}
.search-bar {
  margin-right: 10px;
}
.searchbar-space {
  flex: 1 1 auto;
}
.name-cell {
  color: saddlebrown;
}
